<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WCQP8RK');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ mix src='css/style.css' }}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-969ZHYE7C8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-969ZHYE7C8');
        </script>
        <title>Switches.mx | {{ seotamic:title }}</title>
        <meta name="description" content="{{ seotamic:description }}"/>
        {{ seotamic:og }}
        {{ seotamic:twitter }}
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCQP8RK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="switchesmx">
            <div class="switchesmx__header-container container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="switchesmx__header">
                            <a href="/">
                                <img src="/images/logo_medium.svg" class="switchesmx__header-logo" alt="Switches.mx logo" />
                            </a>

                            <div class="switchesmx__header-social">
                                <a href="https://www.instagram.com/switches.mx/" target="_blank" rel="noopener noreferrer" class="switchesmx__header-social-link" title="Instagram">
                                    <img src="/images/social/instagram.svg" class="switchesmx__header-social-img" alt="Instagram" />
                                </a>
                                <a href="https://discord.gg/pZxjvza" target="_blank" rel="noopener noreferrer" class="switchesmx__header-social-link" title="Discord">
                                    <img src="/images/social/discord.svg" class="switchesmx__header-social-img" alt="Discord" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="switchesmx__header-menu">
                            <li><a class="switchesmx__header-menu-link {{ if current_uri  === '/switches' }}switchesmx__header-menu-link--active{{ /if }}" href="/switches/">MX Switches</a></li>
                            <li><a class="switchesmx__header-menu-link {{ if current_uri  === '/vendors' }}switchesmx__header-menu-link--active{{ /if }}" href="/vendors/">Vendors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="switchesmx__body">
                {{ template_content }}
            </div>
            <div class="switchesmx__footer-container container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="switchesmx__footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Found a bug or issue?</h4>
                                    Raise a new issue on GitHub<br />
                                    <a class="github-button" href="https://github.com/BWLR/switches.mx/issues" data-size="large" data-show-count="true" aria-label="Issue BWLR/switches.mx on GitHub">Issue</a>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Want to get in touch?</h4>
                                    Email <a href="mailto:k@switches.mx">k@switches.mx</a><br />
                                    Discord <a href="https://discordapp.com/users/BOWLER#2802">BOWLER#2802</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
