/node_modules
/public/hot
/public/storage
/public/img/containers/assets
/public/vendor/statamic
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
package-lock.json
*.code-workspace