.c-switch {
    background: #fff;
    margin: 0 0 ($grid-gutter-width * 1.5);
    padding: ($grid-gutter-width / 2);
    border-radius: ($grid-gutter-width / 2);
    color: $smx-color-02;
    letter-spacing: -0.02em;
    line-height: 1.4;
    transition: all .4s ease-in-out;
    position: relative;
    min-height: 125px;

    @include media-breakpoint-up(md) {
        border-radius: $grid-gutter-width;
        padding: ($grid-gutter-width / 2) $grid-gutter-width;
        padding-bottom: ($grid-gutter-width / 4);
    }

    a {
        text-decoration: none;
        color: $smx-color-02;

        &:hover {
            text-decoration: none;
        }
    }

    // **************************
    // Detail
    // **************************
    &__icon {
        position: relative;
        height: 70px;
        width: 62px;
        $root: &;

        &-variation-count {
            font-size: 12px;
            font-weight: 700;
            position: absolute;
            background: #fff;
            white-space: nowrap;
            padding: 0 8px;
            display: inline-block;
            border-radius: 8px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            left: 14px;
            top: -17px;
            height: 16px;
            width: 100px;
            text-align: center;

            @include media-breakpoint-up(sm) {
                border-radius: 5px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                font-size: 13px;
                transform: rotate(-90deg);
                left: -58px;
                top: 52px;
                height: 22px;
                width: 92px;
            }

            @include media-breakpoint-up(md) {
                left: -58px;
            }

            strong {
                font-size: 14px;
                font-weight: 900;
                color: $smx-color-04;

                @include media-breakpoint-up(sm) {
                    font-size: 16px;
                }
            }
        }

        &-stem {
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 1;
            transition: all .1s ease-in-out;
        }

        &-housing-top {
            position: absolute;
            top: 14px;
            left: 1px;
            transform: translateX(0.2px);
            z-index: 2;
        }

        &-housing-bottom {
            position: absolute;
            top: 34px;
            left: 0;
            z-index: 2;
        }

        &:hover {
            #{$root}-stem {
                top: 12px;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        padding: 0;
        text-align: left;
        line-height: 1.2;
    }

    // Type
    &__type {
        font-weight: 700;
        font-size: 15px;

        @include media-breakpoint-up(md) {
            font-size: 13px;
        }

        &-label {
            margin-bottom: 2px;

            @include media-breakpoint-up(md) {
                margin-bottom: 5px;
            }

            &-sub {
                margin: 4px 0 0;
                font-size: 11px;
                font-weight: 500;
                color: $smx-color-05;
            }

            &-desc {
                display: none;
            }
        }

        &-icon {

        }
    }

    // Volume
    &__volume {
        margin-top: 5px;

        &-label {
            &-short {
                color: $smx-color-03;
                font-size: 12px;
                font-weight: 800;
                display: inline-block;
                margin-left: 6px;
            }
            &-long {
                display: none;
            }
        }

        &-notes {
            display: none;
        }
    }

    // Mount
    &__mount {
        font-weight: 700;
        font-size: 14px;

        &-label {
        }

        &-label-sub {
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 5px;
            color: $smx-color-03;
        }

        &-icon {

        }
    }

    // Affiliate
    &__affiliate-mechbox {
        padding: 10px 20px;

        h3 {
            margin-bottom: 10px;
            font-size: 19px;
            font-weight: 700;
        }

        &-link-button {
            display: inline-block;
            width: auto;
            background: $smx-color-04;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            border-color: $smx-color-04;
            letter-spacing: -0.3px;
            line-height: 1.3;
            border-radius: 5px;
            border: solid 2px $smx-color-06;
            padding: 5px 20px;
            text-transform: none;

            &:hover,
            &:focus,
            &:active {
                background: darken($smx-color-04, 20%);
                color: $smx-color-06;
                text-decoration: none;
            }
        }

        &-from {
            display: block;
            font-weight: 500;
            font-size: 13px;
            text-align: center;
            color: $smx-color-05;
            margin: 5px 0;
        }

        &-logo {
            width: 160px;
            max-width: 100%;
            margin: 0 10px 10px;
        }
    }

    // Prices
    &__prices {
        position: relative;
        $root: &;

        &-list {
            white-space: nowrap;
            min-width: 250px;

            &-na {
                font-weight: 700;
                font-size: 12px;
                color: $smx-color-03;
                font-style: italic;
            }
            &-first-price {
                font-weight: 700;
                font-size: 15px;
                letter-spacing: -0.06em;

                &-from {
                    display: block;
                    font-size: 12px;
                    color: $smx-color-03;
                }
            }
        }

        &--limited {
            #{$root}-list {
                color: $smx-color-04;
                text-decoration: line-through;

                a,
                a:hover,
                a:focus,
                a:active {
                    color: $smx-color-04;
                }
            }
        }

        #{$root}-list {
            display: none;
            position: absolute;
            text-align: left;
            top: -($grid-gutter-width);
            left: 10px;
            padding: 0;
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            background: #fff;
            border-radius: ($grid-gutter-width / 2);
            z-index: 10;

            @include media-breakpoint-up(md) {
                left: -50px;
            }
        }

        &:hover {
            #{$root}-list {
                display: block;
            }
        }
    }

    // Limited run
    &__limited-run-info {
        margin-top: 5px;
        color: $smx-color-04;
        font-size: 12px;
        font-weight: 700;

        &--group-buy {
        }

        &--group-buy-available {
            color: $smx-color-08;
        }

        &--group-buy-ended {
        }

        &--limited-stock {
        }

        &--discontinued {
        }
    }

    // Price
    &__price {
        text-align: left;
        border-bottom: solid 1px $smx-color-06;
        position: relative;
        $root: &;

        &-vendor {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: -0.06em;
            color: $smx-color-02;
            overflow: hidden;
            text-overflow: ellipsis;

            &-icon {
                display: inline-block;
                margin-right: ($grid-gutter-width / 4);
            }

            &-extra {
                font-size: 11px;
                font-weight: 500;
                position: absolute;
                left: 50px;
                top: 24px;
                color: $smx-color-03;
                letter-spacing: -0.1px;
            }
        }

        &-value {
            display: block;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            letter-spacing: -0.06em;
            padding-top: 3px;
            text-align: right;

            &-flag {
                display: inline-block;
                margin-left: ($grid-gutter-width / 4);
            }

            @include media-breakpoint-up(lg) {
            }
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        &-inner {
            padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
            position: relative;
        }
        a {
            color: $smx-color-02;
            display: block;

            &:hover,
            &:active,
            &:focus {
                background: $smx-color-06;
                color: $smx-color-02;
                text-decoration: none;
            }
        }

        &-vendor-referral-discount {
            position: relative;
            margin-top: 3px;
            width: auto;
            display: inline-block;
            background: $smx-color-10;
            color: #fff;
            text-shadow: 1px 1px 2px rgb(0,0,0,.3);
            padding: 2px 8px;
            font-size: 12px;
            box-shadow: 0 0 10px rgb(0,0,0,.2);
            transition: all .2s ease-in-out;
            border-radius: 5px;
            margin-left: -2px;
            pointer-events: none;

            @include media-breakpoint-up(xl) {
                position: absolute;
                margin: 0;
                left: 100%;
                top: 9px;
            }

            &:before {
                display: block;
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                left: 50%;
                top: -8px;
                margin-left: -3px;
                border-width: 6px 6px 6px 0;
                border-color: transparent $smx-color-10 transparent transparent;
                transform: rotate(90deg);

                @include media-breakpoint-up(xl) {
                    left: -5px;
                    top: 5px;
                    margin-left: 0;
                    border-width: 6px 6px 6px 0;
                    border-color: transparent $smx-color-10 transparent transparent;
                    transform: rotate(0);
                }
            }
        }

        @include media-breakpoint-up(xl) {
            &:hover {
                #{$root}-vendor-referral-discount {
                    box-shadow: 0 0 16px rgb(0,0,0,.4);
                    animation: bounce 1s infinite;
                }
            }
        }
    }

    // Materials
    &__materials {
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.02em;
        position: relative;
        text-align: left;
        line-height: 2.2;
        font-size: 10px;
        white-space: nowrap;

        > div {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 220px;

            @include media-breakpoint-up(sm) {
                width: 140px;
            }

            @include media-breakpoint-up(md) {
                width: 150px;
            }

            @include media-breakpoint-up(lg) {
                width: 240px;
            }

            @include media-breakpoint-up(xl) {
                width: 270px;
            }
        }

        @include media-breakpoint-up(sm) {
            line-height: 1.8;
            font-size: 12px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 13px;
        }

        &-icon {
            &-stem {
                position: absolute;
                top: 2px;
                left: 60px;
            }
            &-housing-top {
                position: absolute;
                top: 18px;
                left: 60px;
            }
            &-housing-bottom {
                position: absolute;
                top: 34px;
                left: 60px;
            }
        }

        &-type {
            display: none;
            font-size: 10px;
            margin-top: -7px;
            color: $smx-color-03;
            font-weight: 500;
            letter-spacing: 0;

            @include media-breakpoint-up(sm) {
                font-size: 11px;
            }
        }
    }

    // Spring
    &__spring {
        text-align: center;

        &-label {
            font-weight: 700;
            font-size: 12px;
            letter-spacing: -0.03em;
            margin-top: 5px;

            em {
                font-size: 11px;
                font-style: normal;
                color: $smx-color-03;
                display: block;
                margin-top: 2px;
                font-weight: 500;
            }
        }
    }

    // Stats
    &__stats {
        white-space: nowrap;
        text-align: right;
    }
    &__stat {
        display: inline-block;
        width: 25%;
        font-weight: 700;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: -0.06em;
        border-right: solid 2px $smx-color-00;
        text-align: center;
        position: relative;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border: none;
            padding-right: 0;
        }

        &:before {
            content: attr(title);
            display: inline-block;
            position: absolute;
            left: 2px;
            top: -$grid-gutter-width;
            width: auto;
            padding-right: 20px;
            font-size: 11px;
            text-align: right;
            color: $smx-color-03;
            letter-spacing: -0.03em;

            @include media-breakpoint-up(sm) {
                left: 8px;
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
    &__stat-unit {
        display: inline-block;
        font-size: 12px;
        padding-left: 2px;
    }

    // Last updated
    &__updated {
        text-align: left;
        font-weight: 600;
        font-size: 11px;
        color: $smx-color-05;
        margin-top: 17px;

        @include media-breakpoint-up(md) {
            margin-top: ($grid-gutter-width / 2);
        }
    }

    // Media
    &__media {
        text-align: right;
        margin-top: ($grid-gutter-width / 2);

        &-count {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.06em;
            display: inline-block;
            margin: 0 0 0 10px;

            &-number {
                color: $smx-color-04;
            }
        }
    }

    // Related links
    /* Link */
    &__link{
        margin: $grid-gutter-width 0;
        padding: 0 ($grid-gutter-width / 2);

        &-anchor {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $smx-color-02;
            text-decoration: none;
            display: block;

            &:hover,
            &:active,
            &:focus {
                color: $smx-color-02;
                text-decoration: none;

                .c-switch__link-domain {
                    text-decoration: underline;
                }
            }
        }

        &-domain {
            font-size: 13px;
            letter-spacing: -0.03em;
            color: $smx-color-03;
            display: block;
        }
    }

    // Mini view (as seen on homepage)
    // ----------------------------------------
    $root: &;
    &--miniview {
        max-width: 440px;
        margin: 0 auto;
        padding-bottom: 10px;

        @include media-breakpoint-up(md) {
            padding-bottom: 30px;
        }

        #{$root}__updated {
            text-align: center;
        }

        #{$root}__media {
            text-align: center;
            margin-top: 15px;
        }
    }
}