---
linear: 'Linear switches have a smooth and linear feeling from top to bottom when pressed.'
tactile: 'Tactile switches have a satisfying tactile "bump" when the switch is activated, providing a little resistance at the start of the press.'
clicky-jacket: 'Clicky switches, as the name suggests, make an audible click when activated. Those with a click jacket design only make a click noise on the way down. They have an internal sliding "collar" surrounding the stem that moves independently.'
clicky-bar: 'Clicky switches, as the name suggests, make an audible click when activated. Click bars are a Kailh brand innovation and have a small metal spring "bar" that creates the click noise - which can be heard on both the down and up stroke of a key press.'
click-leaf: 'Clicky switches, as the name suggests, make an audible click when activated. The click leaf design is traditionally found in ALPS/Matias switches and less common amongst MX switches. This click mechanism takes up more space leaving no room for in-switch LED''s.'
---
<div class="c-switch__type">
    <div class="c-switch__type-label">{{ if switch_type == 'linear' }}Linear{{ elseif switch_type == 'tactile' }}Tactile{{ elseif switch_type|contains:clicky }}Clicky{{ /if }}</div>
    <div class="c-switch__type-icon">
        {{ if switch_type|contains:click }}
            <img src="/images/icons/switch_type_clicky.svg" alt="Switch Type icon" />
        {{ else }}
            <img src="/images/icons/switch_type_{{ switch_type }}.svg" alt="Switch Type icon" />
        {{ /if }}
    </div>
    {{ if switch_type|contains:click }}
        <div class="c-switch__type-label-sub">
            {{ if switch_type == 'clicky-jacket' }}
                Click-jacket
            {{ elseif switch_type == 'clicky-bar' }}
                Click-bar (Kailh style)
            {{ elseif switch_type == 'click-leaf' }}
                Click-leaf (ALPS style)
            {{ /if }}
        </div>
    {{ /if }}
    <div class="c-switch__type-label-desc">
        {{ if switch_type == 'linear' }}
            {{ view:linear }}
        {{ elseif switch_type == 'tactile' }}
            {{ view:tactile }}
        {{ elseif switch_type == 'clicky-jacket' }}
            {{ view:clicky-jacket }}
        {{ elseif switch_type == 'clicky-bar' }}
            {{ view:clicky-bar }}
        {{ elseif switch_type == 'click-leaf' }}
            {{ view:click-leaf }}
        {{ /if }}
    </div>
</div>